@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    width: 4px; /* Độ rộng của thanh cuộn */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 6px; /* Bo tròn thanh kéo */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-rendering: optimizeLegibility;
    font-family: 'Roboto', san-serif, serif;
    font-size: 1rem;
    line-height: 1.5;
}
