@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-rendering: optimizeLegibility;
    font-family: 'Roboto', san-serif, serif;
    font-size: 1rem;
    line-height: 1.5;
}
